body {
    background-color: #FA8BFF;
    background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#wrapper {
    text-align: center;
    background-color: #FFF;
    padding: 20px;
    border-radius: 10px;
    width: 80%; /* Adjusted width to be responsive */
    max-width: 400px; /* Set maximum width to prevent stretching on larger screens */
    margin-top: 50px; /* Adjusted margin-top for better vertical centering */
}
